# These could be changed
MYSQL_DATABASE=ievtds
MYSQL_USER=admin

# This should definitely be changed to something long and random
MYSQL_PASSWORD=ievtds_password

# You should probably leave this
MYSQL_RANDOM_ROOT_PASSWORD=yes
